USE [UATEZECMDB]
GO
/****** Object:  Table [dbo].[eZAPICallHistory]    Script Date: 11/16/2022 5:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eZAPICallHistory](
	[CallHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[Template] [nvarchar](100) NULL,
	[CabinetId] [int] NULL,
	[TemplateId] [int] NULL,
	[Status] [nvarchar](500) NULL,
	[Remarks] [nvarchar](max) NULL,
	[RIM Number] [nvarchar](500) NULL,
	[XmlFileName] [nvarchar](500) NULL,
	[ItemId] [int] NULL,
	[ParentCallId] [int] NULL,
	[APIFunction] [nvarchar](500) NULL,
	[CreatedOn] [nvarchar](100) NULL,
	[UpdatedOn] [nvarchar](100) NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[Isdeleted] [bit] NOT NULL,
	[UpdatedOnAPI] [nvarchar](200) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[eZAPICallHistory] ON 

INSERT [dbo].[eZAPICallHistory] ([CallHistoryId], [Template], [CabinetId], [TemplateId], [Status], [Remarks], [RIM Number], [XmlFileName], [ItemId], [ParentCallId], [APIFunction], [CreatedOn], [UpdatedOn], [CreatedBy], [UpdatedBy], [Isdeleted], [UpdatedOnAPI]) VALUES (22362, N'Corporate', 3, 18, N'Archived', N'', N'45678903', N'20221103102902778AM.xml', 606, 0, N'Upload', N'03-Nov-2022 10:29:02 AM', N'03-Nov-2022 10:29:15 AM', 256, 1, 0, NULL)
INSERT [dbo].[eZAPICallHistory] ([CallHistoryId], [Template], [CabinetId], [TemplateId], [Status], [Remarks], [RIM Number], [XmlFileName], [ItemId], [ParentCallId], [APIFunction], [CreatedOn], [UpdatedOn], [CreatedBy], [UpdatedBy], [Isdeleted], [UpdatedOnAPI]) VALUES (22363, N'Corporate', 3, 18, N'Archived', N'', N'45678903', N'20221103102902968AM.xml', 607, 0, N'Upload', N'03-Nov-2022 10:29:02 AM', N'03-Nov-2022 10:29:15 AM', 256, 1, 0, NULL)
INSERT [dbo].[eZAPICallHistory] ([CallHistoryId], [Template], [CabinetId], [TemplateId], [Status], [Remarks], [RIM Number], [XmlFileName], [ItemId], [ParentCallId], [APIFunction], [CreatedOn], [UpdatedOn], [CreatedBy], [UpdatedBy], [Isdeleted], [UpdatedOnAPI]) VALUES (22364, N'Corporate', 3, 18, N'Archived', N'', N'45678903', N'20221103102903054AM.xml', 608, 0, N'Upload', N'03-Nov-2022 10:29:03 AM', N'03-Nov-2022 10:29:15 AM', 256, 1, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[eZAPICallHistory] OFF
ALTER TABLE [dbo].[eZAPICallHistory] ADD  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[eZAPICallHistory] ADD  DEFAULT ((0)) FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[eZAPICallHistory] ADD  DEFAULT ((0)) FOR [Isdeleted]
GO
